html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.header {
  background-color: #33b7eb;
  height: 80px;
  font-size: 1.5rem;
  display: table;
  width: 100%;
}

.footer {
  background-color: #33b7eb;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: table;
}